extends layout

block content
  h1= title
  p Welcome to #{title}
  p 
  p Number of Buses: #{numberOfBus}
  p Number of ECUs: #{numberOfECU}
  p Number of PDUs: #{numberOfPDU}
  p Number of Signals: #{numberOfSignal}
